#login-section {
    margin-top: 80px;
    padding: 20px 0;
}
 
  .dsc-card .img {
    margin-top: 10px;
    width: 250px;
    height: 250px;
  }

.dsc-login-form-container {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
}

.dsc-login-form-buttons {
    width: 100%;
}


@media (min-width: 576px) {
    #login-section {
        padding: 40px 0;
    }
}