.footer {
  height: 4.5rem;
  width: 100vmax;

  justify-content: center;

  background: var(--clr-black);
  text-align: center;
}

  .footer span {
    color: var(--clr-primary-5);
  }

  .footer h5 {
    top: -10px;
    padding-bottom: 10px !important;
    color: var(--clr-white);
    margin: 0.1rem;
    font-weight: 400;
    text-transform: none;
    line-height: 1.25;
  }


