* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section {
  min-height: 90vh;
}

.section {
  background-color: #ffff;
}

.column {
  margin-top: 2rem;
  float: left;
  width: 50%;
  padding: 10px;
  height: 500px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
}
.row .column .h1 {
  font-size: 1.7rem;
  font-weight: bold;
  margin-top: 10rem;
  margin-left: 15rem;
}

.column .p {
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-left: 15rem;
}

.btnProducts {
  position: relative;
  margin-left: 15rem;
  padding: 5px 20px;
  background-color: rgba(247, 191, 70, 0.794);
  border-radius: 4px;
  color: black;
  cursor: pointer;
}
.btnSubscrib {
  position: relative;
  padding: 5px 20px;
  background-color: rgba(247, 191, 70, 0.794);
  border-radius: 0 9px 9px 0;
  border: 0.5px solid;
  border-color: rgb(189, 186, 186);
  color: black;
  cursor: pointer;
}

.row .column .main-img {
  justify-content: center;
  width: 30rem;
  height: 30rem;
}

.section h3 {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.newsletter h3 {
  font-size: 1rem;
  justify-content: center;
  padding-bottom: 0px;
}
.rodape {
  margin-top: 1rem;
}

.contact-form {
  display: flex;
  margin-left: 40%;
}

.inputType {
  width: 20%;
  height: 2.2rem;
  border-radius: 7px 0 0 7px;
  border: 0.5px solid;
  border-color: rgb(189, 186, 186);
}
